{% extends 'blog/base.html' %}

{% block content %}
	<div>
		<div class="title-block">
			<h1>Power Density Calculator</h1>
		</div>
		
		<div class="page-desc">
			<p>This is a very simple analysis based on EN 207 that doesn't take into account a multitude of other factors that may increase or descrease the required protection level </p>
		</div>
		
		<div>
			<p> Power Density is <u>{{ans}}</u> W/m^2</p>
			<p> Protection Level is <u>D {{powerlevel}}</u></p>
		</div>
		
		<div>
		<p> If you require a full analysis of your laser and required protection level, please email me at joel.saunders@pro-lite.co.uk</p>
		</div>
		
	</div>

{% endblock %}