body {
    padding-left: 0px;
	height: 100%;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 2em, 1em, 2em, 1em;
	position: fixed;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	width: 18em;
	/*sticks to left hand side in firefox now*/
	left: 0;
	
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
	float: left;
	margin-left: 320px;
	overflow: hidden;
	display: inline-block;
	
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #6AAB70;
}

.edit {
  float:right
}

.side-container {
	position: absolute;
	right: 1rem;
	top: 2rem;
	left: 1rem;
	max-width: 38rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.side-about {
	text-align: left;
	margin-bottom: 2rem;
	
}

.side-menu-item, .side-menu-item:hover, .side-menu-item:visited {
	margin-bottom: 2rem;
	font-size: 18pt;
	text-decoration: none;
	color: #ffffff;
	font-family: Helvetica;
}

.ui-widget {
	width: 100%;
	display: inline;
}
.page-desc {
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 16pt;
}